<div class="wrapper">
<header class="sticky">
  <a routerLink="home"
     class="button">
    <span> Home </span>
  </a>

</header>

<router-outlet class="align-content-center"></router-outlet>
</div>
