<br>
<form name="form" (ngSubmit)="login()" #f="ngForm">
  <div>
    <label for="username">Username</label>&nbsp;&nbsp;
    <input type="text"
           name="username" [(ngModel)]="model.username"
           #username="ngModel" required/>
    <div *ngIf="!username.valid" class="control-error">Username is required</div>
  </div>
  <div>
    <label for="password">Password</label> &nbsp;&nbsp;
    <input type="password"
           name="password" [(ngModel)]="model.password"
           #password="ngModel" required/>
    <div *ngIf="!password.valid" class="control-error">Password is required</div>
  </div>
  <div>
    <button class="btn btn-success" [disabled]="!f.form.valid">Login</button>
  </div>
</form>
