<div class="col-md-offset-3">
    <div>
        <a class="button" [routerLink]="['/login']" (click)="logout()"><span>Login|Logout</span></a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="button" [routerLink]="['/']" (click)="registerFreeUser()"> <span>Register</span></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a *ngIf="adminRol" routerLink="list" class="button"> <span> Admin Management Users</span> </a>
    </div>

    <div *ngIf="user.name; else notUser">
        <br>
        <p><span class="label">Logged User</span></p>
        <p class="odd-row"><span class="label">Name:</span> {{user.name}}</p>
        <p><span class="label">Email: </span>{{user.email}}</p>
        <p class="odd-row"><span class="label">Last_Login: </span>{{user.last_login}}</p>
    </div>

    <ng-template #notUser><br><p>Please Login or Register</p></ng-template>


</div>
