

<table class="ui compact celled definition table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Created</th>
    <th>Last Login</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users" (click)="selectUser($event,user)" style="cursor: pointer">

    <td>{{ user.name }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.created }}</td>
    <td>{{ user.last_login }}</td>
  </tr>
  </tbody>
  <tfoot class="full-width">
  <tr>
    <th></th>
    <th colspan="4">
      <div class="ui right floated small primary labeled icon button" (click)="createUser($event)">
        <i class="user icon" ></i> Add User
      </div>
    </th>
  </tr>
  </tfoot>
</table>
