<div class="modal-header">
  <h4 class="modal-title">Register Form</h4>
  <button type="button" class="close" aria-label="Close"
          (click)="activeModal.dismiss('Cross click')">
  </button>
</div>
<form [formGroup]="userFrom" (ngSubmit)="submitForm()">
  <div class="modal-boy">
    <div class="container">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control"  formControlName="name" />
      </div>
      <div *ngIf="!userFrom.controls['name'].valid && userFrom.controls['name'].dirty">
        <span class="control-error">Name is required</span>
      </div>


      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" formControlName="email">
      </div>
      <div *ngIf="!userFrom.controls['email'].valid && userFrom.controls['email'].dirty">

        <div *ngIf="userFrom.controls['email'].errors['required']">
          <span class="control-error">Email is required</span>
        </div>
        <div *ngIf="userFrom.controls['email'].errors['email']">
          <span class="control-error">Email is invalid</span>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" formControlName="password">
      </div>
      <div *ngIf="!userFrom.controls['password'].valid && userFrom.controls['password'].dirty">
        <span class="control-error">Password is required</span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="activeModal.dismiss('Close clicked')">
      Cancel
    </button>
    <button class="btn btn-success"
            [disabled]="!userFrom.valid">
      Submit Form
    </button>
  </div>
</form>
